__pycache__/
refacdir/backup/backup_failures.json
configs/*
!configs/config_example.json
!configs/config_example.yaml
temp*
!test/backup tests/temp_backup_music.yaml
do_refacdir.bat
observed_directories.json
app_info_cache*
